**第1題使用pandas將資料集載入為dataframe格式**

In [1]:
import pandas as pd
raw_data = pd.read_excel('sales.xlsx')
df = pd.DataFrame(raw_data)
df=df.astype(str)
df

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,...,Quantity,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,...,6.59,156672.57,5.19571429,nan,nan,nan,nan,nan,nan,nan
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,...,7145.88,6.19,nan,nan,nan,nan,nan,nan,nan,nan
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,...,91707.18,5.488,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2007,Camping,Equipment,Tents,Star,Gazer,3,E-mail,Sweden,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
65531,2007,Camping,Equipment,Tents,Star,Gazer,3,E-mail,Finland,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
65532,2007,Camping,Equipment,Tents,Star,Gazer,3,E-mail,Denmark,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
65533,2007,Camping,Equipment,Tents,Star,Gazer,3,E-mail,France,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
65534,2007,Camping,Equipment,Tents,Star,Gazer,3,E-mail,Germany,59382.96,...,706.94,nan,nan,nan,nan,nan,nan,nan,nan,nan

**第2題列出目前資料集所有欄位名稱及資料型態**

In [2]:
df.dtypes

Year         object
Product      object
line         object
Product.1    object
type         object
Product.2    object
Order        object
method       object
type.1       object
Retailer     object
country      object
Revenue      object
Planned      object
revenue      object
Product.3    object
cost         object
Quantity     object
Unit         object
cost.1       object
Unit.1       object
price        object
Gross        object
profit       object
Unit.2       object
sale         object
price.1      object
dtype: object

**第3題依已知資訊(1)，請列出所有正確的欄位名稱**

In [3]:
sales=['Year','Product line','Product type','Product','Order method type','Retailer country','Revenue','Planned revenue','Product cost','Quantity','Unit cost','Unit price','Gross profit','Unit sale price']
for col in sales:
    print(col)

Year
Product line
Product type
Product
Order method type
Retailer country
Revenue
Planned revenue
Product cost
Quantity
Unit cost
Unit price
Gross profit
Unit sale price

**第4題請檢查第 1 個欄位 Year 是否有資料錯置問題**

In [4]:
df.groupby(['Year']).size()

Year
2004    21168
2005    21168
2006    21168
2007     2031
dtype: int64

In [5]:
df.groupby(['Year','Product']).size()
#沒有錯，Product欄位都跟年份無關

Year  Product
2004  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2005  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2006  Camping           6027
      Golf              2205
      Mountaineering    3087
      Outdoor           2205
      Personal          7644
2007  Camping           2031
dtype: int64

**第5題請檢查第 2 個欄位 Product line 的資料錯置情況，並將此欄位整理成正確的形式**

In [6]:
df.groupby(['Product','line']).size()

Product         line
Camping         Equipment      20112
Golf            Equipment       6615
Mountaineering  Equipment       9261
Outdoor         Protection      6615
Personal        Accessories    22932
dtype: int64

In [7]:
df.groupby(['Product','line','Product.1']).size()
#發現Product line佔兩個欄位

Product         line         Product.1
Camping         Equipment    Cooking       5880
                             Lanterns      5292
                             Packs         2646
                             Sleeping      3087
                             Tents         3207
Golf            Equipment    Golf          1764
                             Irons         1764
                             Putters       1323
                             Woods         1764
Mountaineering  Equipment    Climbing      3087
                             Rope          1764
                             Safety        1764
                             Tools         2646
Outdoor         Protection   First         2205
                             Insect        2205
                             Sunscreen     2205
Personal        Accessories  Binoculars    2646
                             Eyewear       7056
                             Knives        3087
                             Navigation    4410
                             Watches       5733
dtype: int64

In [8]:
df['Product line'] = df['Product'] + ' ' + df['line']
df = df.drop(['Product','line'],axis=1)
df.head()

,Year,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue,...,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line
0,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33,...,156672.57,5.19571429,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
1,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,13444.68,14313.48,...,6.19,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
2,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
3,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
4,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,181120.24,235236.64,...,5.488,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment

**第6題請依已知資訊(3)過濾掉不相干的 Product type 的銷售紀錄 (移除一整列)，請保留每一筆資料原本的 index (不需重置 index)。**

In [9]:
product_1 = ['Climbing','Cooking','First','Golf','Insect','Sleeping']
product_type = ['Accessories','Gear','Aid','Repellents','Bags']
df = df[df['Product.1'].isin(product_1)]
df = df[df['type'].isin(product_type)]
df.head()

,Year,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue,...,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line
0,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33,...,156672.57,5.19571429,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
1,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,13444.68,14313.48,...,6.19,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
2,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
3,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment
4,2004,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,181120.24,235236.64,...,5.488,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment

**第7題請檢查第 3 個欄位 Product type 的資料錯置情況，並將此欄位整理成正確的形形式**

In [10]:
df.groupby(['Product.1']).size()

Product.1
Climbing    3087
Cooking     5880
First       2205
Golf        1764
Insect      2205
Sleeping    3087
dtype: int64

In [11]:
df.groupby(['Product.1','type']).size()
#發現Product type佔兩個欄位(size加起來剛好是18228)

Product.1  type
Climbing   Accessories    3087
Cooking    Gear           5880
First      Aid            2205
Golf       Accessories    1764
Insect     Repellents     2205
Sleeping   Bags           3087
dtype: int64

In [12]:
df['Product type']=df['Product.1']+' '+df['type']
df=df.drop(['Product.1','type'],axis=1)
df.head()

,Year,Product.2,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,...,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type
0,2004,TrailChef,Water,Bag,Telephone,United,States,315044.33,437477.15,158371.76,...,5.19571429,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Cooking Gear
1,2004,TrailChef,Water,Bag,Telephone,Canada,13444.68,14313.48,6298.8,2172,...,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Cooking Gear
2,2004,TrailChef,Water,Bag,Telephone,Mexico,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Cooking Gear
3,2004,TrailChef,Water,Bag,Telephone,Brazil,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Cooking Gear
4,2004,TrailChef,Water,Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696,...,nan,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Cooking Gear

**第8題請檢查第 4 個欄位 Product 的資料錯置情況，並將此欄位整理成正確的形式**

In [13]:
#發現資料亂七八糟除了開頭位置都不一樣以外，每個產品的名字佔的欄位數也各不相同，最後分割為六個小dataframe以後面一欄的Order method type為準
df.groupby(['Product.2','Order']).size()

Product.2   Order
Aloe        Relief           441
BugShield   Extreme          441
            Lotion           882
            Natural          441
            Spray            441
Calamine    Relief           441
Compact     Relief           441
Course      Pro             1764
Deluxe      Family           441
Firefly     Charger          441
            Climbing         441
            Rechargeable     441
Granite     Belay            441
            Carabiner        441
            Chalk            441
            Pulley           441
Hibernator  Camp             441
            E-mail            63
            Extreme          441
            Fax               63
            Lite             441
            Mail              63
            Pad              441
            Pillow           441
            Sales             63
            Self             441
            Special           63
            Telephone         63
            Web               63
Insect      Bite             441
TrailChef   Canteen          588
            Cook             588
            Cup              588
            Deluxe           588
            Double           588
            Kettle           588
            Kitchen          588
            Single           588
            Utensils         588
            Water            588
dtype: int64

In [14]:
df.groupby(['Product.2','Order','method']).size()

Product.2  Order     method
Aloe       Relief    E-mail        63
                     Fax           63
                     Mail          63
                     Sales         63
                     Special       63
                                 ...
TrailChef  Utensils  Sales         84
                     Special       84
                     Telephone     84
                     Web           84
           Water     Bag          588
Length: 265, dtype: int64

In [15]:
p1 = df[df['Order'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
    ])].copy(deep=True)
p1['Product']=p1['Product.2']
p1=p1.drop(['Product.2'],axis=1)

In [16]:
p2 = df[df['method'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
    ])].copy(deep=True)
p2['Product']=p2['Product.2']+' '+p2['Order']
p2=p2.drop(['Product.2','Order'],axis=1)

In [17]:
p3 = df[df['type.1'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
    ])].copy(deep=True)
p3['Product'] = p3['Product.2'] + ' ' + p3['Order']+ ' ' + p3['method']
p3=p3.drop(['Product.2','Order','method'],axis=1)

In [18]:
p4 = df[df['Retailer'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
    ])].copy(deep=True)
p4['Product']=p4['Product.2']+' '+p4['Order']+' '+p4['method']+' '+p4['type.1']
p4=p4.drop(['Product.2','Order','method','type.1'],axis=1)

In [19]:
p5 = df[df['country'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
    ])].copy(deep=True)
p5['Product']=p5['Product.2']+' '+p5['Order']+' '+p5['method']+' '+p5['type.1']+' '+p5['Retailer']
p5=p5.drop(['Product.2','Order','method','type.1','Retailer'],axis=1)

In [20]:
p6 = df[df['Revenue'].isin([
    'E-mail','Fax','Mail','Sales','Special','Telephone','Web'
    ])].copy(deep=True)
p6['Product']=p6['Product.2']+' '+p6['Order']+' '+p6['method']+' '+p6['type.1']+' '+p6['Retailer']+' '+p6['country']
p6=p6.drop(['Product.2','Order','method','type.1','Retailer','country'],axis=1)

In [21]:
#合併
df=pd.concat([p1,p2,p3,p4,p5,p6])
df

,Year,Order,method,type.1,Retailer,country,Revenue,Planned,revenue,Product.3,...,Unit.1,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product
2499,2004,Telephone,United,States,968870.75,1130591,662200,7700,86,146.83,...,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator
2500,2004,Telephone,Canada,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator
2501,2004,Telephone,Mexico,26627.25,28631.85,16770,195,86,146.83,9857.25,...,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator
2502,2004,Telephone,Brazil,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator
2503,2004,Telephone,Japan,624588.8,720054.32,421744,4904,86,146.83,202844.8,...,nan,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59971,2006,NaN,NaN,NaN,NaN,NaN,Fax,Belgium,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59972,2006,NaN,NaN,NaN,NaN,NaN,Fax,Switzerland,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59973,2006,NaN,NaN,NaN,NaN,NaN,Fax,Austria,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59974,2006,NaN,NaN,NaN,NaN,NaN,Fax,Italy,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set
59975,2006,NaN,NaN,NaN,NaN,NaN,Fax,Spain,10304.84,10512.32,...,7538.44,10.43,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set

**第9題請檢查第 5 個欄位 Order method type 的資料錯置情況，並將此欄位整理成正確的形式**

In [22]:
#由於第8題的關係，這一排也需比照Product的方式處理，已知除了Sales visit佔兩格以外都是佔一格，因此只需關心從哪一欄為開頭
order_split1 = df[df['Order'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
    ])].copy(deep=True)
order_split1_1 = df[df['Order'].isin([
    'Sales'
    ])].copy(deep=True)
order_split1['Order method type'] = order_split1['Order']
order_split1_1['Order method type'] = order_split1_1['Order'] + ' '+ order_split1_1['method']

order_split1=order_split1.drop(['Order'],axis=1)
order_split1_1=order_split1_1.drop(['Order','method'],axis=1)

In [23]:
order_split2 = df[df['method'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
    ])].copy(deep=True)
order_split2_2 = df[df['method'].isin([
    'Sales'
    ])].copy(deep=True)
order_split2['Order method type'] = order_split2['method']
order_split2_2['Order method type'] = order_split2_2['method'] + ' '+ order_split2_2['type.1']

order_split2=order_split2.drop(['Order','method'],axis=1)
order_split2_2=order_split2_2.drop(['Order','method','type.1'],axis=1)

In [24]:
order_split3 = df[df['type.1'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
    ])].copy(deep=True)
order_split3_3 = df[df['type.1'].isin([
    'Sales'
    ])].copy(deep=True)
order_split3['Order method type'] = order_split3['type.1']
order_split3_3['Order method type'] = order_split3_3['type.1'] + ' '+ order_split3_3['Retailer']

order_split3=order_split3.drop(['Order','method','type.1'],axis=1)
order_split3_3=order_split3_3.drop(['Order','method','type.1','Retailer'],axis=1)

In [25]:
order_split4 = df[df['Retailer'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
    ])].copy(deep=True)
order_split4_4 = df[df['Retailer'].isin([
    'Sales'
    ])].copy(deep=True)
order_split4['Order method type'] = order_split4['Retailer']
order_split4_4['Order method type'] = order_split4_4['Retailer'] + ' '+ order_split4_4['country']

order_split4=order_split4.drop(['Order','method','type.1','Retailer'],axis=1)
order_split4_4=order_split4_4.drop(['Order','method','type.1','Retailer','country'],axis=1)

In [26]:
order_split5 = df[df['country'].isin([
    'E-mail','Fax','Mail','Special','Telephone','Web'
    ])].copy(deep=True)
order_split5_5 = df[df['country'].isin([
    'Sales'
    ])].copy(deep=True)
order_split5['Order method type'] = order_split5['country']
order_split5_5['Order method type'] = order_split5_5['country'] + ' '+ order_split5_5['Revenue']

order_split5=order_split5.drop(['Order','method','type.1','Retailer','country'],axis=1)
order_split5_5=order_split5_5.drop(['Order','method','type.1','Retailer','country','Revenue'],axis=1)

In [27]:
order_split6 = df[df['Revenue'].isin([
    'E-mail', 'Fax', 'Mail', 'Special', 'Telephone', 'Web'
    ])].copy(deep=True)
order_split6_6 = df[df['Revenue'].isin([
    'Sales'
    ])].copy(deep=True)
order_split6['Order method type'] = order_split6['Revenue']
order_split6_6['Order method type'] = order_split6_6['Revenue'] + ' ' + order_split6_6['Planned']

order_split6 = order_split6.drop(['Order', 'method', 'type.1', 'Retailer', 'country','Revenue'], axis=1)
order_split6_6 = order_split6_6.drop(['Order', 'method', 'type.1', 'Retailer', 'country', 'Revenue','Planned'], axis=1)

In [28]:
df=pd.concat([order_split1, order_split1_1, order_split2, order_split2_2, order_split3, order_split3_3, order_split4, order_split4_4, order_split5, order_split5_5, order_split6, order_split6_6
])
df

,Year,method,type.1,Retailer,country,Revenue,Planned,revenue,Product.3,cost,...,price,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product,Order method type
2499,2004,United,States,968870.75,1130591,662200,7700,86,146.83,306670.75,...,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2500,2004,Canada,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2501,2004,Mexico,26627.25,28631.85,16770,195,86,146.83,9857.25,136.55,...,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2502,2004,Brazil,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone
2503,2004,Japan,624588.8,720054.32,421744,4904,86,146.83,202844.8,130.823,...,nan,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59866,2006,NaN,NaN,NaN,NaN,NaN,NaN,Belgium,nan,nan,...,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59867,2006,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland,28451.78,30600.64,...,20398.98,5.81666667,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59868,2006,NaN,NaN,NaN,NaN,NaN,NaN,Austria,0,425.6,...,-112.0,0.0,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59869,2006,NaN,NaN,NaN,NaN,NaN,NaN,Italy,nan,nan,...,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit
59870,2006,NaN,NaN,NaN,NaN,NaN,NaN,Spain,nan,nan,...,nan,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit

**第10題請檢查第 6 個欄位Retailer country 的資料錯置情況，並將此欄位整理成正確的形式**

In [29]:
#利用groupby 得到國家名 發現除了United 開頭佔兩格外，其餘都佔一格而已
df.groupby(['method']).size()

method
Australia      18
Austria        18
Belgium        18
Brazil         18
Canada         18
China          18
Denmark        18
Finland        18
France         18
Germany        18
Italy          18
Japan          18
Korea          18
Mexico         18
Netherlands    18
Singapore      18
Spain          18
Sweden         18
Switzerland    18
United         36
dtype: int64

In [30]:
df.groupby(['method','type.1']).size()

method       type.1
Australia    146853.28     1
             169729.38     1
             184545.27     1
             32572.72      1
             562833.34     1
                          ..
Switzerland  31606.58      1
             486723.69     1
             nan          15
United       Kingdom      18
             States       18
Length: 143, dtype: int64

In [31]:
#分割方式採一格與兩格的分法
country_split1 = df[df['method'].isin([    
  'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'    
    ])].copy(deep=True)

country_split1_1 = df[df['method'].isin([    
    'United'
    ])].copy(deep=True)

country_split1['Retailer country'] = country_split1['method']
country_split1_1['Retailer country'] = country_split1_1['method'] + ' ' + country_split1_1['type.1']

country_split1 = country_split1.drop(['method'], axis=1)
country_split1_1 = country_split1_1.drop(['method','type.1'], axis=1)

In [32]:
country_split2 = df[df['type.1'].isin([
    'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'
    ])].copy(deep=True)
country_split2_2 = df[df['type.1'].isin([
    'United'
    ])].copy(deep=True)

country_split2['Retailer country'] = country_split2['type.1']
country_split2_2['Retailer country'] = country_split2_2['type.1'] + ' ' + country_split2_2['Retailer']

country_split2 = country_split2.drop(['method','type.1'], axis=1)
country_split2_2 = country_split2_2.drop(['method','type.1','Retailer'], axis=1)

In [33]:
country_split3 = df[df['Retailer'].isin([
    'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'
    ])].copy(deep=True)

country_split3_3 = df[df['Retailer'].isin([
    'United'
    ])].copy(deep=True)

country_split3['Retailer country'] = country_split3['Retailer']
country_split3_3['Retailer country'] = country_split3_3['Retailer'] + ' ' + country_split3_3['country']

country_split3 = country_split3.drop(['method','type.1','Retailer'], axis=1)
country_split3_3 = country_split3_3.drop(['method','type.1','Retailer','country'], axis=1)

In [34]:
country_split4 = df[df['country'].isin([
    'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'
    ])].copy(deep=True)

country_split4_4 = df[df['country'].isin([
    'United'
    ])].copy(deep=True)

country_split4['Retailer country'] = country_split4['country']
country_split4_4['Retailer country'] = country_split4_4['country'] + ' ' + country_split4_4['Revenue']

country_split4 = country_split4.drop(['method','type.1','Retailer','country'], axis=1)
country_split4_4 = country_split4_4.drop(['method','type.1','Retailer','country','Revenue'], axis=1)

In [35]:
country_split5 = df[df['Revenue'].isin([
    'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'
    ])].copy(deep=True)

country_split5_5 = df[df['Revenue'].isin([
    'United'
    ])].copy(deep=True)

country_split5['Retailer country'] = country_split5['Revenue']
country_split5_5['Retailer country'] = country_split5_5['Revenue'] + ' ' + country_split5_5['Planned']

country_split5 = country_split5.drop(['method','type.1','Retailer','country','Revenue'], axis=1)
country_split5_5 = country_split5_5.drop(['method','type.1','Retailer','country','Revenue','Planned'], axis=1)

In [36]:
country_split6 = df[df['Planned'].isin([
    'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'
    ])].copy(deep=True)

country_split6_6 = df[df['Planned'].isin([
    'United'
    ])].copy(deep=True)

country_split6['Retailer country'] = country_split6['Planned']
country_split6_6['Retailer country'] = country_split6_6['Planned'] + ' ' + country_split6_6['revenue']

country_split6 = country_split6.drop(['method','type.1','Retailer','country','Revenue','Planned'], axis=1)
country_split6_6 = country_split6_6.drop(['method','type.1','Retailer','country','Revenue','Planned','revenue'], axis=1)

In [37]:
country_split7 = df[df['revenue'].isin([
    'Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Italy', 'Japan', 'Korea', 'Mexico', 'Netherlands', 'Singapore', 'Spain', 'Sweden', 'Switzerland'
    ])].copy(deep=True)

country_split7_7 = df[df['revenue'].isin([
    'United'
    ])].copy(deep=True)

country_split7['Retailer country'] = country_split7['revenue']
country_split7_7['Retailer country'] = country_split7_7['revenue'] + ' ' + country_split7_7['Product.3']

country_split7 = country_split7.drop(['method','type.1','Retailer','country','Revenue','Planned','revenue'], axis=1)
country_split7_7 = country_split7_7.drop(['method','type.1','Retailer','country','Revenue','Planned','revenue','Product.3'], axis=1)

In [38]:
#將所有小dataframe合併
df = pd.concat([country_split1, country_split1_1, country_split2, country_split2_2, country_split3, country_split3_3, country_split4, country_split4_4, country_split5, country_split5_5, country_split6, country_split6_6,country_split7, country_split7_7])
df

,Year,type.1,Retailer,country,Revenue,Planned,revenue,Product.3,cost,Quantity,...,Gross,profit,Unit.2,sale,price.1,Product line,Product type,Product,Order method type,Retailer country
2500,2004,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Canada
2501,2004,26627.25,28631.85,16770,195,86,146.83,9857.25,136.55,nan,...,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Mexico
2502,2004,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Brazil
2503,2004,624588.8,720054.32,421744,4904,86,146.83,202844.8,130.823,nan,...,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Japan
2504,2004,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,Camping Equipment,Sleeping Bags,Hibernator,Telephone,Korea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17529,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,...,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom
38682,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10904.28,11363.52,...,7913.88,10.21,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States
38697,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27987.84,28855.68,...,20394.24,10.32,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom
59850,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,nan,...,nan,nan,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States
59865,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8750.77,8926.96,...,6401.57,10.43,nan,nan,nan,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom

**第11題請將剩下的欄位整理成正確的形式**

In [39]:
#想說後面每個資料都是佔一格，於是將所有非空值的資料都向左對齊，為避免影響後排已經排好的，範圍設在第2欄至第19行
import numpy as np
data = df.copy(deep=True)
cols_to_process = data.iloc[:,1:19]
cols_to_process = cols_to_process.apply(lambda x: sorted(x, key=pd.isna), 1).to_list()

data.iloc[:, 1:19] = cols_to_process

In [40]:

data['Revenue1'] = data['type.1']
data['Planned revenue'] = data['Retailer']
data['Product cost'] = data['country']
data['Quantity1'] = data['Revenue']
data['Unit cost'] = data['Planned']
data['Unit price'] = data['revenue']
data['Gross profit'] = data['Product.3']
data['Unit sale price'] = data['cost']
data = data.drop(['type.1','Retailer','country','Revenue','Planned','revenue','Product.3','cost','Quantity','Unit','cost.1','Unit.1','price','Gross','profit','Unit.2','sale','price.1'], axis=1)
data.rename(columns={'Revenue1': 'Revenue', 'Quantity1': 'Quantity'}, inplace=True)

In [41]:
#將nan都替換成np.NaN，使第13題能正確輸出
data= data.replace('nan', np.NaN)

**第12題請將整理完的資料集以 index 排序並匯出成 csv 檔(需保留 index)，檔名為 HW1_學號.csv**

In [42]:
data.to_csv('HW1_109403048.csv', encoding = 'utf-8-sig')

**第13題 檢查處理完後的資料集是否能產出如下的結果**

In [43]:
data.groupby('Product type').count()

,Year,Product line,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
Product type,,,,,,,,,,,,,
Climbing Accessories,3087,3087,3087,3087,3087,729,729,729,729,729,729,729,729
Cooking Gear,5880,5880,5880,5880,5880,2059,2059,2059,2059,2059,2059,2059,2059
First Aid,2205,2205,2205,2205,2205,812,812,812,812,812,812,812,812
Golf Accessories,1764,1764,1764,1764,1764,619,619,619,619,619,619,619,619
Insect Repellents,2205,2205,2205,2205,2205,795,795,795,795,795,795,795,795
Sleeping Bags,3087,3087,3087,3087,3087,1189,1189,1189,1189,1189,1189,1189,1189